.question {
    height: calc(100vh - 170px);
    margin: 20px;
  }
  
  i {
    cursor: pointer;
  }
  
  .question__statement {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 1;
  }
  
  .question__acoes {
    display: flex;
  }
  