.question {
    height: calc(100vh - 170px);
    margin: 20px;
}
  
.form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
.form__statement {
    width: 100vw;
    margin-bottom: 30px;
}
  
.form__file {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
  
.form__img {
    width: 100%;
    display: flex;
    justify-content: center;
  
    & img {
        width: 25%;
    }
}
  
.form__select {
    width: min-content;
}

.form__year {
    width: 30%;
    margin-bottom: 30px;
}

.form__number {
    width: 30%;
    margin-bottom: 30px;
}
  
.form-item {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 81%;
    box-sizing: border-box;
    height: 40px;
    margin-top: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
  
    font-size: 16px;
    padding: 6px 12px;
}
  
.input-invalido {
    border-color: red;
    margin-bottom: 0;
}
  
.button-adicionar {
    background: #0083FD;
    border: 2px solid #0083FD;
    color: #FFF;
    font-size: 20px;
    cursor: pointer;
    width: 160px;
    height: 40px;
    border-radius: 10px;
  
    &:hover {
        background: #47A5FC;
        border: 2px solid #47A5FC;
    }
}
  
.botao-desabilitado {
    background: #979797;
    border: 2px solid #979797;
    color: #FFF;
    font-size: 20px;
    cursor: inherit;
  
    &:hover {
        background: #979797;
        border: 2px solid #979797;
    }
}
  
.button-cancelar {
    background: #979797d7;
    border: 2px solid #979797d7;
    color: #FFF;
    font-size: 20px;
    cursor: pointer;
    width: 160px;
    height: 40px;
    border-radius: 10px;
  
    &:hover {
        background: #979797;
        border: 2px solid #979797;
    }
}
  
.form-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}
  
.form-group__label {
    margin-right: 18px;
}
  
.form-group__input {
    width: 100%;
    border-radius: 10px;

    font-size: 16px;
    padding: 6px 12px;
}

.form-group__textarea {
    height: 100px;
    width: 100%;
    border-radius: 10px;

    font-size: 16px;
    padding: 6px 12px;
}
  
.carousel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
  
  
.slides {
    display: flex;
    overflow-x: hidden;
}
  
.slide {
    flex-shrink: 0; 
    margin: 0 10px; 
}
  
.slide__image {
    max-width: 100%;
    max-height: 300px;
    height: auto;
    display: block; 
    margin: 0 auto; 
}
  
.slide__image--hidden {
    display: none;
}
  
.carousel__button {
    padding: 10px;
    color: #FFF;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s; /* Adiciona uma transição suave */
  
    &:hover {
    transform: scale(2.0); /* Aumenta o tamanho do botão em 20% ao passar o mouse */
    }
}
  
.indicators {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 10px;
}
    
.indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 5px;
    cursor: pointer;
}
    
.indicator.active {
    background-color: #333;
}
  