@import '../../../styles.scss';

.nav {
  min-height: calc(100vh - 70px);
  height: 100vh;
  padding: 0;
  background: #191c24;

  .nav-logo {
    height: 70px;
  }
}

.sidebar-expanded {
  width: 240px;
}

.sidebar-collapsed {
  width: 64px;
}

.sidebar {
  display: block;
  background: #191c24;

  min-height: calc(100vh - 70px);
  font-family: Rubik,sans-serif;
  padding: 0;
}

.sidebar-item {
  padding-right: 20px;

  .sidebar-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    white-space: nowrap;
    padding:$sidebar-menu-padding-y 10px $sidebar-menu-padding-y $sidebar-menu-padding-x;
    color: $sidebar-menu-color;
    transition-property: color;
    -webkit-transition-property: color;
    height: 46px;
    border-radius: 0px 100px 100px 0px;
    cursor: pointer;

    .sidebar-item__icon {
      margin-right: 0.5rem;
      font-size: .8125rem;
      line-height: 1;
      background: rgba(108,114,147,.2);
      width: 31px;
      height: 31px;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
    }

    .sidebar-item__title {
      color: inherit;
      display: inline-block;
      font-size: .9375rem;
      line-height: 1;
      vertical-align: middle;
    }

    .sidebar-item__title--none {
      color: inherit;
      display: none;
      font-size: .9375rem;
      line-height: 1;
      vertical-align: middle;
    }
  }

  &.active {
    > .sidebar-link {
      background: #0f1015;
      position: relative;
      &:before {
        content: "";
        width: 3px;
        height: 100%;
        background: #0090e7;
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
      }
      .sidebar-item__title {
        color: #ffffff;
      }
      i {
        color: #ffffff
      }
    }
  }

  &:hover {
    .sidebar-link {
      background: #0f1015;
      position: relative;
      .sidebar-item__title {
        transition: 0.25s ease-out;
        color: #ffffff;
      }
      i {
        color: #ffffff
      }
    }
  }
}


