
<div class="professor">
  <a class="btn btn-primary mb-4 fs-4 text-white" routerLink="adicionar-professor">
    <i class="bi bi-person-plus-fill"></i>
  </a>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Last</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody
    class="table-group-divider"
    *ngFor="let professor of professors; let i = index">
      <tr>
        <th scope="row">{{i}}</th>
        <td>{{professor.name}}</td>
        <td>{{professor.email}}</td>
        <td><i class="bi bi-trash-fill"></i><i class="bi bi-pencil-square"></i></td>
      </tr>
    </tbody>
  </table>

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
      <li class="page-item disabled">
        <a class="page-link">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>
</div>
