<div class="dashboard">
  <div class="dashboard__list">
    <div class="dashboard__list-item">
      <app-card
        title = "Matérias cadastradas"
        [conteudo] = "course"
        icon = "bi bi-journal-bookmark-fill"
        style="color: #4e80e3;"
        >
      </app-card>
    </div>

    <div class="dashboard__list-item">
      <app-card
        title = "Professors cadastradas"
        [conteudo] = "professor"
        icon = "bi bi-mortarboard-fill"
        >
      </app-card>
    </div>

    <div class="dashboard__list-item">
      <app-card
      title = "Questões cadastradas"
      [conteudo] = "question"
      icon = "bi bi-list-check"
      style="color: #f2c55c;"
      >
      </app-card>
    </div>

    <div class="dashboard__list-item">
      <app-card
        title = "Enade cadastradas"
        [conteudo] = "enade"
        icon = "bi bi-clipboard2-check"
        style="color: #6e6abb;"
        >
      </app-card>
    </div>
    <div class="dashboard__list-item">
      <app-card
        title = "Alunos cadastradas"
        [conteudo] = "student"
        icon = "bi bi-person-fill"
        style="color: #6abb8e;"
        >
      </app-card>
    </div>

  </div>
  <div class="mt-5" style="width: 50%;">
    <canvasjs-chart [options]="chartOptions"></canvasjs-chart>
  </div>

</div>
