<div class="dashboard">
  <mat-grid-list cols="3" rowHeight="3:1">
    <mat-grid-tile>
      <app-card
        title = "Matérias cadastradas"
        [conteudo] = "course"
        icon = "bi bi-journal-bookmark-fill"
        >
      </app-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <app-card
        title = "Professors cadastradas"
        [conteudo] = "professor"
        icon = "bi bi-mortarboard-fill"
      >
      </app-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <app-card
      title = "Questões cadastradas"
      [conteudo] = "question"
      icon = "bi bi-list-check"
    >
    </app-card>
  </mat-grid-tile>
  </mat-grid-list>

</div>
