@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-icons/font/bootstrap-icons.scss';
@import './assets/scss/variables';

@import './assets/scss/misc';

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-size: .875rem;
  font-family: 'Roboto', sans-serif;
  background: black;
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1;
}

p {
  font-size: .875rem;
  margin-bottom: .5rem;
  line-height: 1.3rem;
}

h1 {
  font-size: 3.125rem;
}

h2 {
  font-size: 2.5rem;
}

@media(max-width: 767px) {
  h2 {
    font-size: 1.9rem;
  }
}

h3 {
  font-size: 1.875rem;
}

h4 {
  font-size: 1.45rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: .9375rem;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
